.mainRow {
    padding-top: 200px;
}

.mainLabel {
    padding-top: 30px;
}

ion-col{
    ion-input{
       border: solid 1px rgb(148, 179, 236);
       width: 50%;
       height: 25px;
    }
 }

 mat-form-field.mat-form-field {
    font-size: 12px;
  }

  .labelMain {
    color: rgb(72, 43, 233);
    font-size: 20px;
    padding-left: 50px;
  }

  ion-grid {
    justify-content: center;
}



